/*This is the main stylesheet for the Landing Page TOP Project */

/* Joint styles */
header,
footer {
    background-color: #1F2937;
}


/*Elements */
header {
    width: auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 0 10% 5% 10%;
}

body {
    margin: 0;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 10px;
}

p {
    color: white;
}

button {
    width: 20%;
    border: none;
    border-radius: 4px;
}
/*classes */
.headerLogoText{
    font-size: 24px;
    color: #F9FAF8;
}

.mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
    margin-bottom: 0;
}
.mainText p {
    margin-top: 0;
}

.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.buttonAndAction {
    background-color: #3882F6;
}

.informationHeaderText {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quoteSection {
    background-color: #E5E7EB;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

/* Id's */

#headerTopSection {
    display: flex;
    justify-content: space-between;
}

#headerBottomSection {
    display: flex;
    justify-content: space-between;
}

#headerBottomSection section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerImage {
    background-color: gray;
    height: 200px;
    width: 500px;
    line-height: 180px;
    text-align: center;
    border-radius: 2px;
    color: white;
}

#mainBodySection {
    display: flex;
    flex-direction: column;
}

#mainSubsection1,
#mainSubsection2,
#mainSubsection3 {
    display: flex;
    justify-content: center;
}

#mainSubsection2 {
    display: flex;
    gap: 10px;
}

#mainSubsection2 img {
    border: #3882F6 solid 2px;
    height: 100px;
    border-radius: 4px;
    color: white;
}

#mainSubsection3 p {
    color: black;
    margin: 5px 10px;
}